body
{
    background-color: rgb(133, 78, 142);
}
/*.challenge {
    position: absolute;
    padding: 235px 8px 1px 832px;
    pointer-events: none;
}
.image-gallery
{
    position: absolute;
    padding: 445px 28px 1px 482px;

}
.image
{
    width:200px;
    margin-right:26px;
}*/
#main-image
{
    width:max(10rem,16vw);
}
.hidden
{
    color: rgba(0, 0, 0,0);
}
/*#cancel {
    width: 170px;
    padding: 10px 151px 1px 300px;
    position: absolute;
    z-index:3;
}*/
#time {
    width: 80px;
    height: 30px;
    background-color: yellow;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
}

p {
    text-align: center;
    margin-top: 5px;
}

#language-toggle {
    text-align: center;
    width: max(6rem, 4vw);
    height: max(1rem,2vw);
    border-radius: 22px;
    background-color: rgb(255, 255, 255);
}

header {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#exit {
    width: max(10rem, 6vw);
}

main {
    width: 100%;
    border: solid;
    text-align: center;
    padding-top: max(100px,8vw);
    margin: auto;
    max-width: 1000px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#challenge
{
    margin-bottom: 100px;
}
#image-1
{
    border: 3px solid black;
    width:max(3rem,4vw);
}

#image-2
{
    border: 3px solid black;
    height:max(3rem,5.2vw);
    width: max(3rem, 4vw);
}

#image-3
{
    border: 3px solid black;
    width: max(3rem, 4vw);
}
#image-1-wrong
{
    border: 3px solid red;
    width: max(3rem,4vw);
}

#image-2-wrong
{
    border: 3px solid red;
    height: max(3rem,5.2vw);
    width: max(3rem, 4vw);
}

#image-3-right
{
    border: 3px solid green;
    width: max(3rem, 4vw);
}
h1
{
    font-family:cursive;
    font-weight:300;
    color:rgb(20, 11, 11);
}
